@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open_sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-VariableFont_wdth,wght") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  max-width: 1170px;
  max-height: 757px;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  margin: 0 auto;
}

.header {
  padding: 0;
}
.header_container {
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_subtitle {
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #898F8F;
}
.header_title {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFCC00;
}

.section_slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.section_slider_image {
  max-width: 100%;
  height: auto;
  margin: 0 20px 0 20px;
}
.section_slider_title_2 {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #666666;
  margin-bottom: 60px;
}

.container_right {
  display: flex;
  flex-direction: column;
  max-width: 1030px;
  align-items: center;
  padding: 20px;
}
.container_right_title2 {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #666666;
  margin-bottom: 30px;
}
.container_right_subtitle {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 30px;
}
.container_right_social_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.container_right_social_links_item {
  margin-right: 20px;
}
.container_right_social_links_item img {
  width: 24px;
  height: 24px;
}
.container_right_text {
  max-width: 430px;
  font-family: Relaway, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 24px;
  text-align: center;
}
.container_right_image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
.container_right_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_right_btns .btn {
  margin-top: 25px;
  padding: 10px 20px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  border: 1px solid #FFCC00;
  cursor: pointer;
}
.container_right_btns .btn:hover {
  background-color: rgb(204, 163.2, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */